	body 	{background-color:#d0d0d0;}
	video	{padding:20px}
	
    #menubar {background-color:#303032;
			  margin-left: 144px;
			  margin-right: 143px;
			  margin-top: -5px;
			  margin-bottom:0px;
			  color:blue;
			  font-size:x-large;
			  height: 75px}
	
	#buttonbar {background-color:green;
			    margin-left: 144px;
			    margin-right: 143px;
			    margin-top: -5px;
			    margin-bottom:0px;}
	
	.menu	{float: left; padding: 0.8em 3em 0.1em 0.5em;
			 cursor: default}
	
	.menu2	{list-style:none;
			 }
	
	.menu2 li {display:inline-block;
			   margin-left:20px}
	
	.menu ul {display: none;  background-color:white;
			  list-style: none;
			  margin: 2px 5px 150px 0px;}
	.menu ul li {display:block; font-size:large;
			     padding:0.2em}
				 
	div.menu:hover ul	{margin: 0; padding: 0; display:block;
						 background-color:white; color:#303032}
	div.menu ul li: hover {background-color: #cccccc}
	
	.whitepipe {color: white}
	
	p.box		{width: 400px; margin-left:20px;margin-top: 50px;
				 border-radius: 5px; background-color: white;
				 padding: 10px; color: #303032}
	img.posit 	{position: relative; left: 460px; top: -270px}
